<h1>児童一覧</h1>

<%= link_to "追加", new_student_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>学校名</th>
      <th>学年</th>
      <th>児童名</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.school.school_name %></td>
        <td><%= student.grade.grade_name %></td>
        <td><%= student.student_name %></td>
        <td>
          <%= link_to "編集", edit_student_path(student), class: "btn btn-secondary" %>
          <%= link_to "削除", student_path(student), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
