<h1>学校情報を編集</h1>

<%= form_with model: @school, local: true do |f| %>
  <div>
    <%= f.label :school_name, "学校名" %><br>
    <%= f.text_field :school_name %>
  </div>

  <div>
    <%= f.submit "更新", class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to "一覧に戻る", schools_path %>
